html{background-color: rgb(181, 224, 234);}
.header{width: 100%; }
.aside{
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(3, 0, 1);
}
.item{
    background-color: rgb(241, 242, 235);
    padding: 20px;
    border-radius: 20px;
}
img{
    border-radius: 20px;
    padding: 5px;
    width:100%;
    height: 60%;
}
.img{
    border-radius: 0px;
    align-content: start;
    width: 100%;
    height: 200px;
    padding:0px; }p{
    color: rgb(3, 1, 8);
    background-color: rgb(237, 207, 218);
    border-radius: 10px;
    padding: 10px;
    margin-top: 0px;
}
.footer{
    background-color: rgb(243, 245, 241);
    padding: 0px;
    width:100%;
}